<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

    google.charts.load('current', {'packages':['corechart', 'table']});
    google.charts.setOnLoadCallback(drawCharts);

    var districtCommitteeId = ${districtCommitteeId}

    function drawCharts() {
    	$.getJSON('/data/district/' + districtCommitteeId, function (data) { displayDistrictDetails(data);});
        $.getJSON('/data/district/' + districtCommitteeId + "/votes", function (data) { drawVotingResultsChart(data);});
        $.getJSON('/data/district/' + districtCommitteeId + "/protocols", function (data) { drawReceivedProtocolsChart(data);});
    	$.getJSON('/data/district/' + districtCommitteeId + "/frequency", function (data) { drawFrequencyChart(data);});
    	$.getJSON('/data/district/' + districtCommitteeId + "/electionCommittees", function (data) { drawElectionCommitteesTable(data);});
    	$.getJSON('/data/district/' + districtCommitteeId + "/candidates", function (data) { drawCandidatesTable(data);});
        $.getJSON('/data/district/' + districtCommitteeId + "/peripheralCommittees", function(data) { drawPeripheralCommitteesTable(data);});
    }

    function displayDistrictDetails(jsonData) {
        $('#districtDetails').html(jsonData[0]['districtName']);
    }

    function drawVotingResultsChart(jsonData) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Komited wyborczy');
        data.addColumn('number', 'Procent otrzymanych głosów');
        data.addRows($.map(jsonData, function(entry) {
            return [[entry['electionCommittee'], entry['numberOfVotes'] / entry['totalNumberOfVotes']]];
            }));

        new google.visualization.NumberFormat({pattern: '0.0%'}).format(data, 1);   
        
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1]);

        var options = {
           title: "Wyniki wyborcze w skali okręgu",
           width: 800,
           height: 600,
           bar: {groupWidth: "95%"},
           legend: { position: "none" },
           hAxis: {slantedText:true, slantedTextAngle:45},
           vAxis: {format:'0%'}           
         };
                  
    	 var chart = new google.visualization.ColumnChart(document.getElementById("votingResultsChart"));
         chart.draw(view, options);
    }

    function drawReceivedProtocolsChart(jsonData) {
        var totalProtocols = jsonData[0]['totalProtocols'];
        var totalPeripheralCommittees = jsonData[0]['totalPeripheralCommittees'];

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Category');
        data.addColumn('number', 'Number of protocols');
        data.addRows([
          ['Otrzymane', totalProtocols],
          ['Nieotrzymane', totalPeripheralCommittees - totalProtocols]
        ]);

        var options = {'title':'Liczba otrzymanych protokołów wyborczych dla okręgu', 'width':400, 'height':300, 'legend' : {position:'bottom'}};

        var chart = new google.visualization.PieChart(document.getElementById('receivedProtocolsChart'));
        chart.draw(data, options);
    }

    function drawFrequencyChart(jsonData) {
        var voters = jsonData[0]['voters'];
        var allowedToVote =jsonData[0]['allowedToVote'];
        
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Category');
        data.addColumn('number', 'Number of voters');
        data.addRows([
          ['Głosy oddane', voters],
          ['Głosy nieoddane', allowedToVote - voters]
        ]);

        var options = {'title':'Frekwencja wyborcza zbiorcza dla okręgu', 'width':400, 'height':300, 'legend' : {position:'bottom'}};

        var chart = new google.visualization.PieChart(document.getElementById('frequencyChart'));
        chart.draw(data, options);
    }

    function drawElectionCommitteesTable(jsonData) {
    	var data = new google.visualization.DataTable();
        data.addColumn('number', 'Nr listy');
        data.addColumn('string', 'Nazwa komitetu wyborczego');
        data.addColumn('number', 'Zdobyte głosy');
        data.addColumn('number', 'Procent zdobytych głosów');
        data.addRows($.map(jsonData, function(entry) {
            return [[
                     entry['listNumber'],
                     entry['electionCommitteeName'],
                     entry['numberOfVotes'],
                     entry['numberOfVotes'] / entry['totalNumberOfVotes']
                   ]];
            }));

        new google.visualization.NumberFormat({pattern: '#'}).format(data, 0);
        new google.visualization.NumberFormat({pattern: '0.0%'}).format(data, 3);
        	        
        var table = new google.visualization.Table(document.getElementById('electionCommitteesTable'));
        var options = {
                showRowNumber: false, 
                width: '100%', 
                height: '100%',
                page : true
        };
        table.draw(data, options);
    }

    function drawCandidatesTable(jsonData) {
    	var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nazwa komitetu wyborczego');
        data.addColumn('number', 'Nr na liście');
        data.addColumn('string', 'Imię i nazwisko');
        data.addColumn('number', 'Liczba zdobytych głosów');
        data.addColumn('number', 'Procent zdobytych głosów');
        data.addColumn('boolean', 'Zdobył mandat');
        data.addRows($.map(jsonData, function(entry) {
            return [[
                     entry['electionCommitteeName'],
                     entry['positionOnList'],
                     entry['candidateName'],
                     entry['numberOfVotes'],
                     entry['numberOfVotes'] / entry['totalNumberOfVotes'],
                     entry['mandate'] == 1
                   ]];
            }));

        new google.visualization.NumberFormat({pattern: '#'}).format(data, 0);
        new google.visualization.NumberFormat({pattern: '0.0%'}).format(data, 4);
        	        
        var table = new google.visualization.Table(document.getElementById('candidatesTable'));
        var options = {
                showRowNumber: false, 
                width: '100%', 
                height: '100%',
                page : true
        };
        table.draw(data, options);
    }
    
    function drawPeripheralCommitteesTable(jsonData) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Kod terytorialny gminy');
        data.addColumn('number', 'Nr komisji');
        data.addColumn('string', 'Adres Komisji Obwodowej');
        data.addColumn('number', 'Liczba uprawnionych');
        data.addColumn('number', 'Liczba kart wydanych');
        data.addColumn('number', 'Frekwencja');
        data.addColumn('number', 'Liczba głosów nieważnych');

        data.addRows($.map(jsonData, function(entry) {
            return [[
                     entry['territorialCode'],
                     entry['peripheralCommitteeNumber'],
                     entry['peripheralCommitteeName'],
                     entry['allowedToVote'],
                     entry['cardsGiven'],
                     entry['cardsGiven'] / entry['allowedToVote'],
                     entry['invalidVotes'] != undefined ? parseInt(entry['invalidVotes']) : null 
                   ]];
            }));

        new google.visualization.NumberFormat({pattern: '#'}).format(data, 0);
        new google.visualization.NumberFormat({pattern: '0%'}).format(data, 5);
                    
        var table = new google.visualization.Table(document.getElementById('peripheralCommitteesTable'));
        var options = {
                showRowNumber: false, 
                width: '100%', 
                height: '100%',
                page : true
        };
        table.draw(data, options);
    }    
</script>

<h2 id="districtDetails">${districtCommitteeName}</h2>
    
<table>
    <tr>
        <td rowspan="2"><div id="votingResultsChart"></div></td>
        <td><div id="receivedProtocolsChart"></div></td>
    </tr>
    <tr>
        <td><div id="frequencyChart"></div></td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>

<h3>Komitety wyborcze</h3>
<div id="electionCommitteesTable"></div>

<h3>Kandydaci</h3>
<div id="candidatesTable"></div>

<h3>Obwody wyborcze</h3>
<div id="peripheralCommitteesTable"></div>

</@layout.myLayout>